<div id="content">
    <span class="ali-icon icon-weixin"></span>
    <img src="<%= require('./img/fail.png') %>" alt="失败">
    我是内容知道不2222
    <img class="img1" src="<%= require('assets/img/test.png') %>" alt="jdksl">
    <input type="text" v-model="name" placeholder="账号">
    <input type="password" v-model="pwd" placeholder="密码">
    <button type="button" @click="onSubmit">提交</button>
    <span v-text="result"></span>
</div>