<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title><%= pageTitle %></title>
</head>
<body>
<!--[if lt IE 9]>
<div class="alert alert-warning text-center">
    <p>你的浏览器不支持本网站的一些新特性，请升级您的浏览器至最新的<a class="origin-a" href="http://se.360.cn/">360浏览器</a>或<a class="origin-a" href="http://browsehappy.com/">Chrome</a>。
    </p>
    <p>IE8及以下都老了...</p>
</div>
<![endif]-->